<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="0.9.1" ?>
  <?define ProductVersionTitle="0.9.1.0" ?>
  <?define VisualStudioRegistryRoot2008 = "Software\Microsoft\VisualStudio\9.0" ?>
  <?define VisualStudioRegistryRoot2010 = "Software\Microsoft\VisualStudio\10.0" ?>
  <?define UpgradeCode="{EB7EA168-9F1A-45EF-8EDB-06AC4E4C69D6}"?>
  <Product Id="FDEC07EB-0817-4B10-850C-3DDC05AAD540" Name="F# Project Extender $(var.ProductVersionTitle)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Hill30" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <!--<UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />-->
      <UpgradeVersion Minimum="0.9.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ENVDIR_2008">
      <RegistrySearch Id="RL_EnvironmentDir_2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
    <Property Id="ENVDIR_2010">
      <RegistrySearch Id="RL_EnvironmentDir_2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
   <Property Id="EXTENSIONSHILL30FILES" >
      <!--<DirectorySearch Id="hill30filessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill30 Inc\F# Project System Extender" />-->
    </Property>
    <Property Id="EXTENSIONSFILES">
      <DirectorySearch Id="extensionsfilessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\" />
    </Property>
    
    <Property Id="VS2008FOUND">
      <RegistrySearch Id="VS2008found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0" Name="InstallDir" />
    </Property>
    <Property Id="VS2010FOUND">
          <RegistrySearch Id="VS2010found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0" Name="InstallDir" />
    </Property>
    <Property Id="VS2008ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplatesLocation2008" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="VS2008PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplatesLocation2008" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="VS2010ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplatesLocation2010" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="VS2010PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplatesLocation2010" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="DEVENV_EXE_PATH2008">
      <RegistrySearch Id="RegSearch_DevenvExe_Path2008" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2008)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <Property Id="DEVENV_EXE_PATH2010">
      <RegistrySearch Id="RegSearch_DevenvExe_Path2010" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2010)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
      <Property Id="VSIX_PATH" Value="C:\Program Files\Microsoft Visual Studio 10.0\Common7\IDE\vsixinstaller.exe">
          <!--<RegistrySearch Id="RegSearch_Env_Path2010" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2010)\Setup\VS" Name="EnvironmentDirectory" Type="raw" />-->
      </Property>
      <Condition Message="This application requires .NET Framework 3.5SP1. Please install the .NET Framework 3.5SP1 then run this installer again.">
    <![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]>
    </Condition>
     <Condition Message="This application requires  at least one of the Visual Studio 2008 or 2010 installed.Please install the Visual Studio 2008 or 2010.Then run this installer again.">
          <![CDATA[ VS2008FOUND <> NULL OR VS2010FOUND <> NULL ]]>
     </Condition>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
    <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="HILL30FILES" Name="Hill30">
          <Directory Id="INSTALLDIR2008" Name="ProjectExtender">
            <Component Id="ProjectExtender2008Files" Guid="FB80C8A8-63BE-4D5E-BACB-9FA941CD0C7C">
              <RemoveFolder Id="RemoveMain2008" Directory="INSTALLDIR2008" On="uninstall" />
              <File Id="ProjectExtender.dll" Name="ProjectExtender2008.dll" Source="lib\ProjectExtender2008.dll" DiskId="1" />
              <File Id="Readme2008" Name="Readme.txt" ShortName="README.TXT" Source="Readme.txt" />
              <RegistryValue Root="HKLM" Key="Software\Hill30\ProjectExtender" Name="InstallDir" Type="string" Value="[INSTALLDIR2008]" KeyPath="yes" />
            </Component>
         </Directory>
        <Directory Id="INSTALLDIR2010">
            <Component Id="ProjectExtender2010Files" Guid="AB80C8A8-63BE-4D5E-BACB-9FA941CD0C7C">
                <RemoveFolder Id="RemoveMain2010" Directory="INSTALLDIR2010" On="uninstall" />
                <RemoveFolder Id="RemoveExtension" Property="EXTENSIONSHILL30FILES" On="uninstall" />
                <File Id="Extender.vsix" Name="ProjectExtender2010.vsix" Source="lib\ProjectExtender2010.vsix" DiskId="1" />
                <!--<File Id="ExtenderDLL" Name="ProjectExtender2010.dll" Source="lib\ProjectExtender2010.dll" DiskId="1" />
                <File Id="ExtenderPKDEF" Name="ProjectExtender2010.pkgdef" Source="lib\ProjectExtender2010.pkgdef" DiskId="1" />
                <File Id="Manifest" Name="extension.manifest" Source="lib\extension.vsixmanifest" DiskId="1" />
                <File Id="Readme2010" Name="Readme.txt" ShortName="README.TXT" Source="Readme.txt" />-->
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0\ExtensionManager\EnabledExtensions" Action="create"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0\ExtensionManager\EnabledExtensions" Name="11152079-c45f-4889-8203-11f9d15a7615,1.0" Type="string" Value="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill30 Inc\F# Project System Extender\1.0" KeyPath="yes"/>
            </Component>

        </Directory>

        </Directory>
        
      </Directory>
      
      <Component Id="RegistryExtenderVSX2008" DiskId="1" Guid="3F720FC6-EC7C-44E2-BEE4-8130CE1B3F09">
          <?include ExtenderReg.wxi?>
      </Component>
    </Directory>
    <Feature Id="FeatureTree" Title ="F# Project extender" Level="1" Display ="expand">
        <Feature Id="Extender2008" Title="Visual Studio 2008 integration" Level="0" Description="Package for VS 2008" ConfigurableDirectory="INSTALLDIR2008" AllowAdvertise="no">
            <Condition Level="1"><![CDATA[ VS2008FOUND <> NULL ]]></Condition>
            <ComponentRef Id="ProjectExtender2008Files" />
            <ComponentRef Id="RegistryExtenderVSX2008" />
        </Feature>

        <Feature Id="Extender2010" Title="Visual Studio 2010 integration" Level="0" Description="VS 2010 Extension" ConfigurableDirectory="INSTALLDIR2010" AllowAdvertise="no">
            <Condition Level="1"><![CDATA[ VS2010FOUND <> NULL ]]></Condition>
            <ComponentRef Id="ProjectExtender2010Files" />
        </Feature>
    </Feature>

    <!--VS2010 commented-->
    <!--<Binary Id="EditFiles" SourceFile="versionWriterFull.exe" />-->
    <!--<CustomAction Id="UninstallDesignerFiles" Directory="PROJECTEXTENDER" ExeCommand="&quot;cmd.exe&quot; /c rmdir /s /q &quot;NDjangoDesigner&quot;" Return="ignore"/>-->
    <!--<CustomAction BinaryKey="EditFiles" ExeCommand="&quot;C:\Users\kskrygan\AppData\Local\Microsoft\VisualStudio\10.0\Extensions\Hill30\ProjectExtender\ProjectExtender.pkgdef&quot;" Id="EditProjectExtenderPkgdef" Return="ignore"/>-->
    <!--<CustomAction Id="CA_DevenvSetup2010" Property="DEVENV_EXE_PATH2010" ExeCommand="/setup"  Impersonate="no" Execute="deferred" />-->
    <CustomAction Id="CA_DevenvSetup2008" Property="DEVENV_EXE_PATH2008" ExeCommand="/setup"  Impersonate="no" Execute="deferred" />
    <!--<CustomAction Id="CA_RunVSIX2010"   Directory="INSTALLDIR2010"  ExeCommand="&quot;cmd.exe&quot;/c &quot;ProjectExtender2010.vsix&quot;" Return="asyncWait" Execute="commit" Impersonate="yes"/>-->
    <CustomAction Id="CA_RunVSIX2010"   Property = "VSIX_PATH"  ExeCommand="&quot;[INSTALLDIR2010]\ProjectExtender2010.vsix&quot;" Return="asyncWait" Execute="deferred" Impersonate="yes"/>
    <CustomAction Id="SetExtensionDir" Property="EXTENSIONHILL30FILES" Value="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill30 Inc"/>
    <CustomActionRef Id="WixFailWhenDeferred" />
    <CustomAction Id="CA_DeleteExtensionFiles" Directory = "INSTALLDIR2010" ExeCommand="&quot;cmd.exe&quot; /c rmdir /s /q &quot;[EXTENSIONHILL30FILES]\F# Project System Extender&quot;" Return="ignore"/>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="CA_DevenvSetup2008" Before="InstallFinalize" ><![CDATA[&Extender2008 = 3 OR &Extender2008 = 4]]></Custom>
      <Custom Action="CA_RunVSIX2010"  Before="InstallFinalize"><![CDATA[&Extender2010 = 3 OR &Extender2010 = 4]]></Custom>
      <Custom Action="SetExtensionDir" After="InstallInitialize"><![CDATA[REMOVE]]></Custom>
      <Custom Action="CA_DeleteExtensionFiles" After="SetExtensionDir"><![CDATA[REMOVE]]></Custom>
      <!--<Custom Action="WixFailWhenDeferred" Before="InstallFinalize"><![CDATA[WIXFAILWHENDEFERRED=1]]></Custom>--> 
      <!--<Custom Action="UninstallDesignerFiles" After="InstallInitialize"><![CDATA[REMOVE]]></Custom>-->
      <!--<Custom Action="EditProjectExtenderPkgdef" After="InstallFinalize">
        <![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL"))]]>
      </Custom>-->
    </InstallExecuteSequence>
    
    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />-->
    <UI>
       <UIRef Id="WixUI_FeatureTree" />
    </UI>

    <!--<UIRef Id="WixUI_Common" />-->
  </Product>
</Wix>